angular: [
  { key: "lightNumber" }
  { key: "color" }
  { key: "on" }
  { key: "transitionTime" }
  {
    key: "alert"
    type: "select"
    titleMap: [
      {
        value: "none"
        name: "None"
      }
      {
        value: "select"
        name: "On"
      }
    ]
  }
  {
    key: "effect"
    type: "select"
    titleMap: [
      {
        value: "none"
        name: "None"
      }
      {
        value: "colorloop"
        name: "Color Loop"
      }
    ]
  }
]
