title: "Default Configuration"
type: "object"
properties:
  options:
    title: "Options"
    type: "object"
    properties:
      bulbName:
        title: "Bulb Name"
        type: "string"
    required: [
      "bulbName"
    ]
