title: "Default Configuration"
type: "object"
properties:
  options:
    title: "Options"
    type: "object"
    properties:
      bulbNames:
        type: "array"
        title: "Bulb Names"
        description: "Bulbs to send commands to"
        default: []
        items:
          title: "Bulb Name"
          description: "Can be label, id, or ip address"
          type: "string"
      autoDiscover:
        title: "Auto Discover"
        type: "boolean"
        default: true
    required: [
      "autoDiscover"
      "bulbNames"
    ]
