title: "Change Light"
type: "object"
properties:
  data:
    type: 'object'
    properties:
      color:
        title: "Color"
        type: "string"
        default: "white"
      transitionTime:
        title: "Transition Time"
        type: "number"
        default: 0
    required: [
      "on"
    ]
